
.background {
    display: block;
    width: 100%;
}

.container {
    display: inline-block;
    width: 50%;
    margin: auto;
}
  
.btn {
    margin: auto;
    display: inline-block;
    vertical-align: top;
}